ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_HTTP_PORTS=8080

FatSecret__ClientId=your_fatsecret_client_id
FatSecret__ClientSecret=your_fatsecret_client_secret

Google__ClientId=your_google_client_id.apps.googleusercontent.com
Google__ClientSecret=your_google_client_secret
Google__RedirectUri=http://localhost:8080/auth/callback
